/* DoctorBoxes.module.css */
.heading {
    text-align: left;
    margin: 20px 0;
    padding: 30px;
    font-size: 28px;
    color: #e8cba2;
    font-weight: 450;
}

.doctorContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default: 3 boxes per row */
    gap: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

.doctorBox {
    position: relative;
    background-color: #392E36;
    border: 0.75px solid #937871;
    border-radius: 0;
    padding: 50px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    height: 225px;
    color: #937871;
}

.boxContent {
    position: relative;
    transition: color 0.3s;
}

.arrow {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
    color: inherit;
}

.hoverLine {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 12%;
    height: 5px;
    background-color: #937871;
    transition: background-color 0.3s;
}

.doctorBox:hover {
    color: white;
}

.doctorBox:hover .hoverLine {
    background-color: #fff;
}

/* Media Queries for Responsive Design */

/* For screens smaller than 1200px (2 boxes per row) */
@media (max-width: 1200px) {
    .doctorContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For screens smaller than 768px (1 box per row) */
@media (max-width: 768px) {
    .doctorContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .heading {
        font-size: 24px; /* Adjust heading size */
        padding: 20px;
    }

    .doctorBox {
        padding: 40px; /* Adjust padding for smaller screens */
        font-size: 18px; /* Adjust font size */
        height: 200px; /* Adjust height */
    }
}
