.img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  
.text {
    position: absolute; /* Position it on top of the image */
    top: 50%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Adjust for the text's dimensions */
    color: white; /* Change text color as needed */
    font-size: 2rem; /* Adjust size */
    text-align: center; /* Center text */
    padding: 10px; /* Optional: padding around the text */
    border-radius: 5px; /* Optional: rounded corners */
  }
  
.button {
    margin-top: 15px; /* Space between text and button */
    padding: 10px 20px; /* Button padding */
    font-size: 1rem; /* Button font size */
    color: white; /* Button text color */
    background-color: #635152; /* Button background color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer; /* Pointer on hover */
    transition: background 0.3s; /* Transition for background color */
  }
  
  
.button:hover {
    background-color: #392E36; /* Darker shade on hover */
  }