.server-error-container {
    background: #6B52AE; /* Purple background color */
    color: #ffffff; /* White text color */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .server-error-content {
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  